.gettingStartedLogo{
    background-color: #3e3636;
    padding: 3rem;
    text-align: center;
}
.divLoginOuter{
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 5px;
}
.errorMsg{
    display: block;
    border: 1px solid red;
    width: 50%;
    margin: 10px auto;
    background: #d72323;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.successMsg{
    display: block;
    border: 1px solid green;
    width: 50%;
    margin: 10px auto;
    background: green;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    
}
.show{
    display: block;
}
.hide{
    display: none;
}
.white-link-dec{
    text-decoration: underline;
}
input{
    display: block;
}
.divLoginOuter input[type="text"],input[type="password"]{
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 5px;
}
.divLoginOuter button{
    display: block;
    margin: 20px auto;
    width: 50%;
}
.loginFoot {
    display: block;
    margin: 0 auto;
    width:50%;
    color: black;
}
body{
    background-color: #f5eded;
}
