.errorMsg{
    display: block;
    border: 1px solid red;
    width: 16%;
    margin: 10px auto;
    background: red;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
}
.successMsg{
    display: block;
    border: 1px solid green;
    width: 16%;
    margin: 10px auto;
    background: green;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.white-link-dec{
    text-decoration: underline;
}

